.todowrapper{
    text-align: center;
    margin-top: 80px;
    margin-left: 400px;
    margin-right: 400px;
    border: 1px solid;
    padding-bottom: 30px;
    font-size: 20px;
    
        background-image: url(../images/image2.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    
}

#tt1{
    display: inline-block;
    padding-right: 30px;
    
} 

.todo1{
   
        height: 40px;
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
     
      text-align: center;
      
}

.todo2{
    display: inline-block;
    
}

  